.contacts__have-questions {
  .paragraph();
  .fonts-light();
  font-size: 24px;
  line-height: 30px;
  color: #283645;
  text-align: center;
  padding-bottom: 34px;
}

.contacts__info {
  .paragraph();
  margin-bottom: 23px;
}

.contacts__please {
  .fonts-bold();
  display: block;
  font-size: 18px;
  line-height: 20px;
  color: #283645;
  text-align: center;
  padding-bottom: 4px;
}

.contacts__description {
  .fonts-light();
  display: block;
  font-size: 24px;
  line-height: 30px;
  color: #d22856;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}

.contacts__description a {
  .links();
  color: #d22856;
}

@media @tablet-widths {
  .contacts__have-questions {
    font-size: 40px;
    line-height: 48px;
    padding-bottom: 45px;
  }

  .contacts__info-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-left: 10px;
    padding-right: 10px;
  }

  .contacts__info {
    width: 300px;
  }

  .contacts__please {
    padding-bottom: 7px;
  }

  .contacts__info--email {
    order: 0;
    margin-bottom: 48px;
  }

  .contacts {
    margin-bottom: -12px;
  }
}

@media @desktop-widths {
  .contacts {
    margin-bottom: 140px;
  }

  .contacts__info--email {
    order: 2;
  }

  .contacts__have-questions {
    font-size: 50px;
    line-height: 60px;
    margin-bottom: 12px;
  }

  .contacts__info-wrapper {
    padding-left: 193px;
    padding-right: 193px;
  }

  .contacts__please {
    padding-bottom: 26px;
  }
}
