.information__slogan {
  .paragraph();
  .fonts-light();
  font-size: 24px;
  line-height: 30px;
  color: #283645;
  text-align: center;
  padding-top: 27px;
}

.information__slogan-block {
  margin-bottom: 30px;
}

.information__wrapper {
  background-color: #f2f2f2;
  background-image: url("../img/iphone-screen-mobile@1x.png"),
    url("../img/bg-triangle-white.svg");
  background-repeat: no-repeat;
  background-position: center bottom -42px, top -31px center;
  padding-bottom: 291px;
  margin-bottom: 41px;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("../img/iphone-screen-mobile@2x.png");
    background-size: 157px 320px;
  }
}

.information__advantages {
  .list();
  padding-top: 78px;
}

.information__advantage-title {
  .paragraph();
  .fonts-bold();
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  text-align: center;
  padding-bottom: 10px;
}

.information__advantage-text {
  .paragraph();
  .fonts-regular();
  font-size: 14px;
  line-height: 24px;
  color: #283645;
  text-align: center;
  padding-left: 27px;
  padding-right: 27px;
  margin-bottom: 27px;
}

@media @tablet-widths {
  .information {
    margin-top: 22px;
  }

  .information__slogan {
    font-size: 40px;
    line-height: 48px;

    &--center {
      text-align: center;
      padding-left: 150px;
      padding-right: 150px;
      padding-top: 0;
    }
  }

  .information__wrapper {
    background-image: url("../img/iphone-screen-3-tablet@1x.png"),
      url("../img/bg-triangle-white.svg");
    background-position: left 20px top 21px, top -209px center;
    background-size: 268px 481px, cover;
    padding-bottom: 12px;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/iphone-screen-3-tablet@2x.png"),
        url("../img/bg-triangle-white.svg");
    }
  }

  .information__advantages {
    display: flex;
    flex-direction: column;
    width: 379px;
    padding-top: 88px;
    margin-left: 284px;
  }

  .information__advantage-title {
    text-align: left;
    padding-left: 46px;
  }

  .information__advantage-text {
    text-align: left;
    padding-left: 46px;
    padding-right: 15px;
    margin-bottom: 30px;
  }
}

@media @desktop-widths {
  .information {
    margin-top: 134px;
  }

  .information__wrapper {
    background-image:   url("../img/bg-triangle-white.svg");
    background-repeat: no-repeat;
    background-position: top -220px center;
    background-size: cover;
    margin-bottom: 0;
  }

  .information__slogan-block {
    .container();
  }

  .information__slogan {
    font-size: 50px;
    line-height: 59px;
    padding-right: 147px;

    &--center {
      padding-left: 139px;
      padding-right: 286px;
    }
  }

  .information__advantages {
    .container();
    flex-direction: row;
    margin: 0;
  }

  .information__advantage {
    padding-top: 434px;
  }

  .information__advantage-title {
    font-size: 30px;
    text-align: center;
    padding-left: 32px;
    padding-right: 65px;
    margin-bottom: 14px;
  }

  .information__advantage-text {
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    padding-left: 18px;
    padding-right: 54px;
    margin-bottom: 30px;
  }

  .information__advantage-title--friends {
    padding-left: 30px;
    padding-right: 40px;
  }

  .information__advantage-text--friends {
    padding-left: 17px;
    padding-right: 30px;
  }

  .information__advantage-title--wirld {
    padding-right: 76px;
  }

  .information__advantage-text--wirld {
    padding-left: 26px;
    padding-right: 68px;
  }

  .information__advantage--mood {
    background-image: url("../img/iphone-screen-1-desktop@1x.png");
    background-repeat: no-repeat;
    background-position: top 75px left 3px;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/iphone-screen-1-desktop@2x.png");
      background-size: 584px 604px;
    }
  }

  .information__advantage--wirld {
    background-image: url("../img/iphone-screen-2-desktop@1x.png");
    background-repeat: no-repeat;
    background-position: top 75px left -5px;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/iphone-screen-2-desktop@2x.png");
      background-size: 584px 604px;
    }
  }

  .information__advantage--friends {
    background-image: url("../img/iphone-screen-3-desktop@1x.png");
    background-repeat: no-repeat;
    background-position: top 76px left -4px;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/iphone-screen-3-desktop@2x.png");
      background-size: 584px 604px;
    }
  }
}
