.intro__header {
  background-image: url("../img/iphone-hand-mobile@1x.png"),
    url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: bottom left, top -68px center;
  height: 394px;
}

.intro__wrapper {
  background: #1d2631;
  padding-top: 29px;
  margin-bottom: 13px;
}

.intro__wrapper-header {
  display: none;
}

.intro__download {
  .links();
  .fonts-bold();
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
  text-align: center;
  width: 276px;
  border: 3px solid #ffffff;
  border-radius: 100px;
  padding-top: 14px;
  padding-bottom: 18px;
  margin: auto;
  margin-bottom: 30px;
}

.intro__icons {
  .list();
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-left: 57px;
  padding-right: 52px;
}

.intro__icon-link {
  display: block;
  width: 50px;
  height: 62px;
}

.intro__available {
  .paragraph();
  .fonts-light();
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  text-align: center;
  padding: 1px 30px 30px 30px;
}

@media @tablet-widths {
  .intro__header {
    height: 362px;
    background-position: bottom 1px right, top -99px center;
    padding-left: 20px;
  }

  .intro__wrapper-header {
    display: block;
    .paragraph();
    .fonts-light();
    font-size: 40px;
    line-height: 48px;
    color: #ffffff;
    text-align: center;
    padding-left: 54px;
    padding-right: 34px;
    margin-bottom: 31px;
  }

  .intro__wrapper {
    width: 320px;
    background: transparent;
    margin-top: -299px;
  }

  .intro__download {
    width: 294px;
    margin: 0;
    margin-bottom: 44px;
    margin-left: 20px;
  }

  .intro__icons {
    padding-left: 66px;
    padding-right: 43px;
  }

  .intro__available {
    font-size: 18px;
    padding: 15px 0 30px 20px;
  }
}

@media @desktop-widths {
  .intro__wrapper-header {
    font-size: 50px;
    line-height: 61px;
    margin-top: -284px;
    margin-bottom: 48px;
  }

  .intro__wrapper {
    margin-top: 2px;
    margin-left: 180px;
  }

  .intro__download {
    margin-bottom: 62px;
  }

  .intro__icons {
    margin-bottom: 22px;
  }
}
