.main-nav {
  position: relative;
  min-width: 320px;
  min-height: 325px;
  background: #283645;
}

.main-nav__items {
  .list();
}

.main-nav__item {
  text-align: center;
}

.main-nav__logo {
  display: block;
  padding-left: 20px;
  padding-top: 22px;
  padding-bottom: 20px;
  border-bottom: 1px solid #000001;
}

.main-nav__toggle {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 2;
  display: block;
  width: 23px;
  height: 24px;
  font-size: 0;
  text-align: center;
  border: none;
  outline: none;
  cursor: pointer;
  background: #ffffff;
}

.main-nav__item a {
  .links();
  .fonts-bold();
  font-size: 18px;
  line-height: 32px;
  color: #ffffff;
  text-transform: uppercase;
  padding-top: 15px;
  padding-bottom: 15px;
  border-top: 1px solid #485461;
  border-bottom: 1px solid #000001;
}

@media @tablet-widths {
  .main-nav__logo {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media @desktop-widths {
  .main-nav {
    .container();
    display: flex;
    min-height: 110px;
  }

  .main-nav__logo {
    padding-left: 80px;
    margin-right: 140px;
  }

  .main-nav__items {
    display: flex;
    justify-content: space-between;
  }

  .main-nav__item a {
    .fonts-regular();
    line-height: 18px;
    text-transform: none;
    width: 150px;
    border: none;
  }

  .main-nav__toggle {
    display: none;
  }
}
