.page-footer__logo {
  padding-left: 86px;
  margin-bottom: 35px;
}

.page-footer__social {
  .paragraph();
  padding-top: 17px;
  margin-bottom: 30px;
}

.page-footer__copyright {
  display: flex;
  text-decoration: none;
  margin-left: 94px;
}

.page-footer__copyright span {
  .fonts-regular();
  font-size: 14px;
  line-height: 18px;
  color: #283645;
  margin-right: 15px;
  margin-top: 14px;
}

.page-footer__copyright svg {
  margin-top: 8px;
}

.page-footer--index-modal {
  display: none;
}

@media @tablet-widths {
  .page-footer--index-modal {
    display: block;
  }

  .page-footer__wrapper {
    display: flex;
    .container();
    padding-left: 20px;
  }

  .page-footer__logo {
    padding-left: 0;
    margin-right: 63px;
  }

  .page-footer__logo img {
    max-width: 147px;
  }

  .page-footer__social {
    .paragraph();
    margin-right: 84px;
  }

  .page-footer__copyright {
    padding-top: 6px;
    margin-left: 0;
  }
}

@media @desktop-widths {
  .page-footer {
    .container();
  }

  .page-footer__wrapper {
    padding: 0;
  }

  .page-footer__logo {
    margin-right: 227px;
  }

  .page-footer__social {
    margin-right: 214px;
  }

  .page-footer__copyright span {
    font-size: 18px;
  }
}
