.review {
  margin-bottom: 110px;
}
.review__items {
  .list();
}
.review__item {
  margin-bottom: 40px;
}
.review__author {
  .paragraph();
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  text-align: center;
  margin-bottom: 25px;
}
.review__text {
  .paragraph();
  font-size: 14px;
  line-height: 30px;
  color: #283645;
  text-align: center;
  padding-left: 40px;
  padding-right: 40px;
}
