.review {
  margin-bottom: 36px;
}

.review__items {
  .list();
}

.review__item {
  margin-bottom: 29px;
}

.review__author-data {
  display: none;
}

.review__author {
  .paragraph();
  .fonts-bold();
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  text-align: center;
  margin-bottom: 13px;
}

.review__text {
  .paragraph();
  .fonts-regular();
  font-size: 14px;
  line-height: 30px;
  color: #283645;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}

@media @tablet-widths {
  .review {
    margin-bottom: 19px;
  }

  .review__item {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 36px;
  }

  .review__author-data {
    display: block;
    .paragraph();
    .fonts-light();
    font-size: 14.5px;
    line-height: 18px;
    color: #283645;
    text-align: center;
  }

  .review__author {
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 8px;
  }

  .review__text {
    font-size: 18px;
    margin-bottom: 34px;
  }
}

@media @desktop-widths {
  .review {
    .container();
    background-image: url("../img/icon-quotes.svg"),
      url("../img/icon-review-arrow-left.svg"),
      url("../img/icon-review-arrow-right.svg");
    background-repeat: no-repeat;
    background-position: center top, left 129px top 140px, right 131px top 140px;
    padding-top: 50px;
    margin: 0 auto;
  }

  .review__items {
    padding-top: 112px;
  }

  .review__text {
    padding-left: 74px;
    padding-right: 85px;
    margin-bottom: 35px;
  }

  .review__author {
    font-size: 24px;
  }

  .review__author-data {
    font-size: 19px;
  }

  .review__toggles {
    display: none;
  }
}
