.round-diagram {
  display: none;
}

@media @tablet-widths {
  .round-diagram {
    display: block;
    margin-bottom: 124px;
  }

  .round-diagram__wrappeer {
    width: 305px;
    margin-left: 328px;
  }

  .round-diagram__title {
    .paragraph();
    .fonts-bold();
    font-size: 30px;
    line-height: 37px;
    color: #000000;
    padding-right: 10px;
    padding-top: 54px;
    padding-bottom: 10px;
  }

  .round-diagram__text {
    .paragraph();
    .fonts-regular();
    font-size: 14px;
    line-height: 24px;
    color: #283645;
    padding-bottom: 10px;
  }

  .round-diagram__link {
    .paragraph();
    .fonts-regular();
    font-size: 14px;
    line-height: 24px;
    color: #dd5d80;
    text-decoration: underline;
  }
}

@media @desktop-widths {
  .round-diagram {
    background: #f2f2f2;
    padding-top: 100px;
    padding-bottom: 113px;
  }

  .round-diagram__wrappeer {
    width: 550px;
    margin-left: 569px;
  }

  .round-diagram__title {
    padding-top: 14px;
    padding-bottom: 21px;
  }

  .round-diagram__text {
    font-size: 18px;
    line-height: 30px;
    padding-right: 20px;
    margin-bottom: 21px;
  }

  .round-diagram__link {
    font-size: 18px;
    line-height: 30px;
  }
}
